# Ignore node_modules - EAS will install fresh
node_modules/

# Ignore android folder - EAS will generate
android/

# Ignore iOS folder
ios/

# Ignore dist folder
dist/

# Ignore .expo folder
.expo/

# Ignore git
.git/

# Ignore temp files
*.log
.DS_Store
